<!
DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - Net Core App Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    @RenderSection("css", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Net Core App Admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item @( ViewBag.Current == EnumMenu.Home?"active":"" ) ">
                    <a class="nav-link" asp-page="/Home/Index">@_localizer["Tableau de bord"]</a>
                </li>
                <li class="nav-item @( ViewBag.Current == EnumMenu.Categorie?"active":"" )">
                    <a class="nav-link" asp-page="/Categorie/Index">@_localizer["Catégorie"]</a>
                </li>
                <li class="nav-item @( ViewBag.Current == EnumMenu.Article?"active":"" )">
                    <a class="nav-link" asp-page="/Article/Index">@_localizer["Article"]</a>
                </li>
                <li class="nav-item"><a class="nav-link" asp-page="/Shop/Index">@_localizer["Boutique"]</a></li>
            </ul>
            <partial name="_LoginPartial" />
            <partial name="_SelectLanguagePartial" />
        </div>
    </nav>
    <div class="container" style="padding-top:0px;">
        <div class="row">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>