@page
@model NetCoreApp.Pages.Categorie.indexModel

@{
    ViewData["Title"] = _localizer["Catégories"];
    ViewBag.Current = EnumMenu.Categorie;
}


@section scripts{
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });

    </script>
}

<h2>@_localizer["Listes des catégories"]</h2>
<div class=".mt-2">
    <a asp-page="/Categorie/Create"> <button class="btn btn-primary float-right">@_localizer["Ajouter"]</button></a>
    <form id="frm" method="post">
        
        <table id="example" class="table table-hover table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th scope="col">@_localizer["Id"]</th>
                    <th scope="col">@_localizer["Libelle"]</th>
                    <th scope="col">@_localizer["Actions"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (NetCoreApp.Core.Entities.Categorie categorie in Model.Categories)
                {
                    <tr>
                        <td>@categorie.Id</td>
                        <td>@categorie.Libelle</td>
                        <td>
                            <a asp-page="/Categorie/Create" asp-route-id="@categorie.Id">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <button type="submit"
                                    onclick="return confirm(@_localizer["Êtes-vous sûr de vouloir supprimer cet élement ?"])"
                                    asp-page-handler="delete"
                                    asp-route-id="@categorie.Id">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
</div>